:root{
  --drop-down-height: 30px;
  --drop-down-primary-color: #1b1b1b;
  --drop-down-secondary-color: #ffe600;
  --carousel-width: 400px;
  --carousel-height: 200px;
  --carousel-main-color: #1b1b1b;
  --carousel-secondary-color: #ffe600;
  --carousel-button-size: 30px;
}

.drop-down{
  height: var(--drop-down-height);
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.drop-down ul.active{
  visibility: visible;
  transform: scaleY(1)
}

.drop-down ul{
  box-sizing: border-box;
  visibility: hidden;
  position: absolute;
  z-index: 99;
  top: var(--drop-down-height);
  width: inherit;
  padding: 0;
  margin: 0;
  background-color: var(--drop-down-primary-color);
  transform: scaleY(0);
  transform-origin: top;
  transition: .1s transform;
}

.drop-down ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--drop-down-secondary-color);
  transition: .3s background-color;
  text-align: center;
}

.drop-down ul li:hover,
.drop-down ul li:active{
  background-color: var(--drop-down-secondary-color);
  color: var(--drop-down-primary-color);
  cursor: pointer;
}

.drop-down button{
  box-sizing: border-box;
  height: var(--drop-down-height);
  background-color: var(--drop-down-primary-color);
  border: none;
  color: var(--drop-down-secondary-color);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid var(--drop-down-secondary-color);
  transition: .2s ease-in-out;
  padding: 5px 0;
}

.drop-down button:hover,
.drop-down button:active{
  background-color: var(--drop-down-secondary-color);
  color: var(--drop-down-primary-color);
  cursor: pointer;
}

.drop-down-small{
  width: 200px;
}

.drop-down-medium{
  width: 400px;
}

.drop-down-big{
  width: 800px;
}

.carousel{
  border: 1px solid var(--carousel-secondary-color);
  width: var(--carousel-width);
  height: var(--carousel-height);
  position: relative;
}

.carousel .carousel-frame{
  position: relative;
  width: var(--carousel-width);
  height: var(--carousel-height);
  overflow: hidden;
}

.carousel .slide-container{
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  transition: left .3s ease-out;
}

.carousel img.slide{
  width: var(--carousel-width);
  height: var(--carousel-height);
}

.carousel button{
  position: absolute;
  top: calc(50% - (var(--carousel-button-size) / 2));
  background-color: var(--carousel-main-color);
  border: none;
  width: var(--carousel-button-size);
  height: var(--carousel-button-size);
  color: var(--carousel-secondary-color);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  transition: .2s ease-in-out;
}

.carousel button:hover,
.carousel button:active{
  background-color: var(--carousel-secondary-color);
  color: var(--carousel-main-color);
  cursor: pointer;
}

.carousel button.next{
  right: calc(var(--carousel-button-size) / -2);
  border-left: 2px solid var(--carousel-secondary-color);
}

.carousel button.prev{
  left: calc(var(--carousel-button-size) / -2);
  border-right: 2px solid var(--carousel-secondary-color);
}